@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

.dashboard-title {
    font-size: 2.5rem;
    margin-top: 0;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-top: 1.5rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* table styling */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 0.5rem;
}

th {
    background-color: #4CAF50;
    color: white;
    top: 0;
    position: sticky;
}

.table-container {
    display: flex;
    height: 68vh;
    overflow-y: scroll;
    margin-top: 2rem;
}
/* styling the order by option */

.order-label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.order-dropdown, .filter-dropdown {
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid #4CAF50;
    background-color: #d5fed6;
    cursor: pointer;
    outline: none;
}

.order-dropdown option, .filter-dropdown option {
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #d5fed6;
    color: #333;
}

.order-dropdown:hover, .filter-dropdown:hover {
    background-color: #c1f2c4;
}


.sort-button, .filter-button {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem;
    width: 4.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    color: #20a822;
    border: 2px solid #20a822;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.sort-button:hover, .filter-button:hover {
    background-color: #20a822;
    color: white;
    border: 1px solid #20a822;
}


.sort-button:active, .filter-button:active {
    background-color: #5fd961;
    color: white;
    /* border: none; */
}

.filter-label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.filter-from, .filter-to {
    font-size: 1rem;
    width: 6.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid #4CAF50;
    text-indent: 5px;
}

.filter-from:focus, .filter-to:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}