
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plot Graph</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='images/logo.ico')}}"
      ,
      type="image/x-icon"
    />
    <!-- link the js file which is present in the static folder -->
    <link rel="stylesheet" href="{{url_for('static', filename='plot.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='sidebar.css')}}"
    />
    <script src="{{url_for('static', filename='plot.js')}}"></script>
  </head>
  <body>
    <div class="overlay"></div>
    <aside id="sidebar" class="sidebar">
      <img
        class="logo"
        src="{{url_for('static', filename='images/logo.png')}}"
        alt="logo"
      />
      <h2>MarketPulse</h2>
      <a class="sidebar-tabs" href="/dashboard">Dashboard</a>
      <a class="sidebar-tabs" href="/plot">Stock History</a>
      <a class="sidebar-tabs" href="/compare">Compare Stocks</a>
      <a href="/logout" class="logout-button">Logout</a>
    </aside>
    <main>
      <form class="plot-form" id="plotForm">
        <div class="plot-form-top">
        <label class="select-title" for="stock">Select the stock:</label>
        <select class="stock-dropdown" name="stock" id="stock">
          {% for key, value in stocks.items() %}
          <option value="{{key}}">{{value}}</option>
          {% endfor %}
        </select>
      </div>
        <!-- put two date selectors (begin and end) and begin date should be before -->
        <div>
          <label for="begin">Begin Date:</label>
          <input class="date-picker" type="date" name="begin" id="begin" />
          <label for="end">End Date:</label>
          <input class="date-picker" type="date" name="end" id="end" />
          <!-- selected criteria out of eight -->
          <label for="criteria">Criteria:</label>
          <select class="criteria-dropdown" name="criteria" id="criteria">
            <option value="open">Open</option>
            <option value="high">High</option>
            <option value="low">Low</option>
            <option value="close">Close</option>
            <option value="ltp">Last Trade Price</option>
            <option value="volume">Volume</option>
            <option value="value">Value</option>
            <option value="no of trades">No of Trades</option>
          </select>
          <input class="submit-button" type="submit" value="Submit" />
        </div>
      </form>
      <div class="loader"></div>
      <!-- Container for displaying the plot -->
      <div id="plotContainer" class="graph"></div>
    </main>
 
</body>
</html>
