<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot Graph</title>
</head>
<body>
    <h2>Plot graph here</h2>
    <form action="/api/plot" method="GET">
        <!-- put two date selectors (begin and end) -->
        <select name="stock" id="stock">
            {% for key, value in stocks.items() %}
                <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
        <label for="begin">Begin Date</label>
        <input type="date" name="begin" id="begin">
        <label for="end">End Date</label>
        <input type="date" name="end" id="end">
        <!-- selected criteria out of eight -->
        <label for="criteria">Criteria</label>
        <select name="criteria" id="criteria">
            <option value="open">Open</option>
            <option value="high">High</option>
            <option value="low">Low</option>
            <option value="close">Close</option>
            <option value="adj_close">Last Trade Price</option>
            <option value="volume">Volume</option>
            <option value="dividend_amount">Value</option>
            <option value="split_coefficient">No of Trades</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>