<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='images/logo.ico')}}"
      ,
      type="image/x-icon"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Hello, {{ username }}!</h1>
        <p>Welcome to MarketPulse.</p>
        <a href="/dashboard" class="continue-button">Continue</a>
    </div>
</body>
</html>
